body{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	background-image: url("img/background2.jpg");
	background-size: cover;
}
/*main home screen
*/
#title{
	font-size: 64px;
	margin: 26px 0 24px 0;
}
.container-top{
	height: 190px;
}
.container{
 	margin: 20px auto auto 0;
	width: 1300px;
	height: 200px;
}
 #draggable{
	width: auto;
	height: 170px;
	margin-bottom: 20px;
}
.sorting-div{
	position: relative;
	display: inline-block;
	padding-top: 130px;
	background-size: 100% 100%;
	width: 220px;
	height: 150px;
	margin: 20px;
}
.compost-div{
	background-image: url(img/compost-bin.png);
}
.recycle-div{
	background-image: url(img/recycle-bin.png);
}
.trash-div{
	background-image: url(img/bin.png);
}
.other-div{
	background-image: url("img/recycle-green.png");
}
.drop-text{
 	display: none;
 	position: absolute;
 	font-size: 102px;
 	letter-spacing: 30px;
 	color: pink;
 	top: 50%;
 	left: 6%;
 	z-index: 1;
 }
 #score{
	display: inline-block;
	background-color:rgb(64, 149, 205);
	color: white;
	width: 400px;	
	height: 40px;
	font-size: 36px;
	margin-top: -40px;
	border-radius: 10px;
}
#timer{
	font-size: 36px;
	height: 40px;
	margin-bottom: 20px;
}
/*initial intro and directions screen
*/
#intro{
	padding-top: 200px;
	display: inline-block;
	background-color: rgba(247, 187, 158, .9);
	position: absolute;
	margin-top: -810px;
	margin-left: -400px;
	height: 850px;
	width: 800px;
}
#main-title{
	font-family: 'Bungee', cursive;
	font-size: 96px;
}
#intro-text{
	font-size: 64px;
}
#start-button{
	text-align: center;
	height: 36px;
	width: 350px;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 8px;
}
/*score and end message screen
*/
#final-score{
	color: white;
	background-color:rgb(64, 149, 205);
	width: 400px;	
	display: inline-block;
	height: 60px;
	font-size: 56px;
	border-radius: 12px;
}
#end-message{
	color: rgb(33, 87, 64);
	font-size: 56px;
}
#game-over{
	display: none;
	background-color: rgba(247, 187, 158, .9);
	position: absolute;
	padding-top: 100px;
	margin-top: -600px;
	margin-left: -400px;
	height: 750px;
	width: 800px;
}
#new-high-score{
	display: none;
	position: absolute;
	padding-top: 100px;
	margin-top: -550px;
	margin-left: -400px;
	height: 200px;
	width: 800px;
	font-size: 124px;
	color: rgb(130, 189, 119);
}
#reset{
	text-align: center;
	height: 36px;
	width: 350px;
	margin-top: 30px;
	font-size: 18px;
	border-radius: 8px;
}
/*win images that pop up
*/
.win-image{
	display: none;
	position: absolute;
	margin-left: -95px;
	margin-top: -200px;
	height: 160px;
	width: auto;
}
.win-image-other{
	display: none;
	position: absolute;
	margin-left: -85px;
	margin-top: -260px;
	height: 160px;
	width: auto;
}
/*"other" pop up items
*/
.popup-div{
	position: relative;
	color: black;
	padding-top: 150px;
	background-size: 100% 100%;
	width: 160px;
	height: 160px;
	margin: 30px 30px 0 30px;
	display: none;
	z-index: 0;
}
.other-items{
	margin-top: -250px;
	margin-left: 135px;
	height: 320px;
	width: 1000px;
}
.transfer-div{
	background-image: url("img/transfer.png");

}
.thread-div{
	background-image: url("img/thirft.png");
	background-size: 100% 100%;

}
.ecycle-div{
	background-image: url("img/ewaste.png");

}
.hhw-div{
	background-image: url("img/hazard.png");
}



